.card,
.modal {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #17191F;
  height: 400px;
  width: fit-content;
  margin: 5px 5px 0;
}

.header,
.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #505050;
  padding: 1rem;
  background: #1f1f24;
}

.title > h1,
.modalHeader > h1 {
  margin: 0;
  font-size: 1rem;
}

.modalBody {
  display: flex;
  flex-direction: row;
}

.modalBodyContentLeftContentItem {
  padding-left: 1rem;
  padding-right: 1rem;
}
